@{
  ViewData["Title"] = "Home Page";
}

    <div>
      <h1>Smart UI with Microsoft Graph</h1>
      <p>
        This web application will demonstrate the pickers and cards available in Office UI Fabric and how they can be used to interact with data from the Microsoft Graph.
      </p>
    </div>
@section scripts {

}
